/* Section: Future Game Releases */
/* second image */
.date-mario {
    color: black;
    padding: 16px;

    font-size: 15px;
    font-weight: bold;
}
.future-releases {
    margin-left: 2.8em;
    margin-top: 1.8em;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}

.image-card {
    margin: 10px;
    text-align: center;
    width: calc(18% - 18px);
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.5);

}

.image-card img {
    max-width: 100%;
    height: auto;
}

.date {
    color: black;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
}

.pre-order {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pre-order:hover {
    background-color: green;
    border-color: green;
    color: #ffffff; 
  }
  




/* Section: Best Selling Products */
.best-container {
    margin-left: 15em;
    margin-right: 0.4em;
    margin-top: 1.7em;
   
}

.best-selling {
    margin-left: 2.8em;
    margin-top: 1.8em;
}

/* Buy Now Button */
.btn {
    margin-bottom: 22px;
    background-color:black;
}
.btn:hover {
    background-color: green;
    border-color: green;
    color: #ffffff; 
  }
  