
<!-- products.component.html -->
<h3 class="best-selling">Best Selling</h3>
<div class="best-container">

    <div class="row">
      <div class="col-sm-2">
        <app-product-card></app-product-card>
      </div>
      <div class="col-sm-2">
        <app-product-card></app-product-card>
      </div>
      <div class="col-sm-2">
        <app-product-card></app-product-card>
      </div>

      <div class="col-sm-2">
        <app-product-card></app-product-card>
      </div>
      <div class="col-sm-2">
        <app-product-card></app-product-card>
      </div>

    </div>
  </div>
  
