<p>product works!</p>













<!-- products.component.html -->
  <!-- Future Releases
  <h3 class="future-releases">Future Video Game Releases</h3>

  <div class="image-gallery">
    <div class="image-card">
      <img src="assets/mock-img-1.png" alt="Image 1">
      <p class="date">11.10.23</p>
      <button type="button" class="btn btn-dark pre-order">Pre Order</button>
    </div>
    <div class="image-card">
      <img src="assets/mock-img-2.png" alt="Image 2">
      <p class="date-mario">11.17.23</p>
      <button type="button" class="btn btn-dark pre-order">Pre Order</button>
    </div>
    <div class="image-card">
      <img src="assets/mock-img-3.png" alt="Image 3">
      <p class="date">11.17.23</p>
      <button type="button" class="btn btn-dark pre-order">Pre Order</button>
    </div>
    <div class="image-card">
      <img src="assets/mock-img-4.png" alt="Image 4">
      <p class="date">12.07.23</p>
      <button type="button" class="btn btn-dark pre-order">Pre Order</button>
    </div>
    <div class="image-card">
      <img src="assets/mock-img-5.png" alt="Image 5">
      <p class="date">02.29.24</p>
      <button type="button" class="btn btn-dark pre-order">Pre Order</button>
    </div>
  </div>
  





<h3 class="best-selling">Best Selling Video Games</h3>

<div class="image-gallery">
  <div class="image-card">
      <img src="assets/mock-img-6.png" alt="Image 6">
      <div class="product-name-container">
        <h5>bjjj hhhh ytrex</h5>
        <h5>$59.88</h5>
        <button type="button" class="btn btn-dark">Buy Now</button>
      </div>
  </div>
  <div class="image-card">
      <img src="assets/mock-img-7.png" alt="Image 7">
      <div class="product-name-container">
        <h5>bjjj hhhh ytrex</h5>
        <h5>$59.88</h5>
        <button type="button" class="btn btn-dark">Buy Now</button>
      </div>
  </div>
  <div class="image-card">
    <img src="assets/mock-img-8.png" alt="Image 8">
    <div class="product-name-container">
      <h5>bjjj hhhh ytrex</h5>
      <h5>$59.88</h5>
      <button type="button" class="btn btn-dark">Buy Now</button>
    </div>
</div>
<div class="image-card">
  <img src="assets/mock-img-9.png" alt="Image 9">
  <div class="product-name-container">
    <h5>bjjj hhhh ytrex</h5>
    <h5>$59.88</h5>
    <button type="button" class="btn btn-dark">Buy Now</button>
  </div>
</div>
<div class="image-card">
  <img src="assets/mock-img-10.png" alt="Image 10">
  <div class="product-name-container">
    <h5>bjjj hhhh ytrex</h5>
    <h5>$59.88</h5>
    <button type="button" class="btn btn-dark">Buy Now</button>
    </div>
  </div> -->