<!-- 

<footer class="footer">
    <div class="container">
      <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto">
              <div class="footer-widget">
                      <h4 class="mb-4">E-Shop</h4>
                      <p class="lead">Iste dolores iure quis excepturi, deserunt praesentium.</p>
                    
                    <div class="">
                        <p class="mb-0"><strong>Location : </strong>Dallas, TX</p>
                        <p><strong>Support: </strong> support@email.com</p>
                    </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
                <div class="footer-widget">
                <h4 class="mb-4">Shop Now</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="#">Men's Fashion</a></li>
                  <li><a href="#">Women's Fashion</a></li>
                  <li><a href="#">Kids Fashion</a></li>
                  <li><a href="#">Accessories</a></li>
                  <li><a href="#">Shoe Collection</a></li>
                </ul>
            </div>
            </div>
  
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
                 <div class="footer-widget">
                <h4 class="mb-4">About Us</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="#">Frequently Asked Questions</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Order Status</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
                    </div>
            </div>
  
            
         </div>
    </div>
  </footer>
  
  
  <div class="footer-btm py-4 ">
    <div class="container">
      <div class="row ">
             <div class="col-lg-6">
                 <p class="copyright mb-0 ">@ Copyright Reserved &amp; made by vnpugh</p>
             </div>


             </div>
         </div>
    </div> -->

