
    <footer class="footer">
      <div class="row-footer">
        <div class="col-12 col-lg-8 footer-menu-container">
          <div class="d-block d-lg-none">
            <form class="footer-email-signup" data-action="https://your-action-url-here">
              <div class="col-12">
     
                <h2 class="sign-up-heading">SIGN UP</h2>
                <p class="sign-up">Get Exclusive Promotions, Coupons, and the Latest Events</p>
                <div class="input-group">
                  <input type="text" class="form-control" name="footer-email-signup" placeholder="Enter Your Email" aria-label="Enter Your Email">
                  <span class="input-group-btn">
                    <button type="submit" class="button">Join</button>
                  </span>
                </div>
              </div>
            </form>
          </div>
    
          <div class="footer-widget">
            <div class="footer-item col-sm-4 col-md-4 col-lg-4">
              <h5 class="mb-4">STORE ASSISTANCE</h5>
              <ul class="footer-content">
                <li><a href="#">Frequently Asked Questions</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Product Recalls</a></li>
              </ul>
            </div>
          </div>

          <div class="footer-widget">
            <div class="footer-item col-sm-4 col-md-4 col-lg-4">
              <h5 class="mb-4">ABOUT US</h5>
              <ul class="footer-content">
                <li><a href="#">About GameCentral</a></li>
                <li><a href="#">News & Blog</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Site Directory</a></li>
              </ul>
            </div>
          </div>

          <div class="footer-widget">
            <div class="footer-item col-sm-4 col-md-4 col-lg-4">
              <h5 class="mb-4">LEGAL & PRIVACY</h5>
              <ul class="footer-content">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">CA Privacy Rights</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Privacy Policy & Security</a></li>
              </ul>
            </div>
          </div>
    
        </div>
      </div>
    </footer>
    
    