
 <footer class="footer">
      <div class="footer-container">
        <div class="footer-section">
          <h4>STORE ASSISTANCE</h4>
          <a href="#">Frequently Asked Questions</a>
          <a href="#">Returns</a>
          <a href="#">Order Status</a>
          <a href="#">Product Recalls</a>
        </div>
        <div class="footer-section">
          <h4>ABOUT US</h4>
          <a href="#">About GameCentral</a>
          <a href="#">News & Blog</a>
          <a href="#">Careers</a>
          <a href="#">Site Directory</a>
        </div>
        <div class="footer-section">
          <h4>LEGAL & PRIVACY</h4>
          <a href="#">Terms of Use</a>
          <a href="#">CA Privacy Rights</a>
          <a href="#">Accessibility</a>
          <a href="#">Privacy Policy & Security</a>
        </div>
  <div class="footer-section">
          <h4>SIGN UP</h4>
          <div class="logo-black">Game<span class="logo-green">Central</span></div>
          <p class="sign-up">Get Exclusive Promotions & Coupons</p>
          <div class="input-group">
            <input type="text" class="form-control" name="footer-email-signup" placeholder="Enter Your Email" aria-label="Enter Your Email">
            <span class="input-group-btn">
              <button type="submit" class="button">Sign Up</button>
            </span>
          </div>
          <div class="social-icons">
            <h4 class="h4-connect">CONNECT WITH US</h4>
            <i class="fa-brands fa-square-facebook" style="color: #000000;"></i>
            <i class="fa-brands fa-instagram" style="color: #000000;"></i>
            <i class="fa-brands fa-square-x-twitter" style="color: #000000;"></i>
            <i class="fa-brands fa-square-pinterest" style="color: #000000;"></i>
          </div>
        </div>
      </div>
<div class="footer-copyright">
           Copyright © 2023 GameCentral | Website Coded by Velvet Pugh
      </div>
        <div class="social-icons">
          <i class="fab fa-apple-pay" style="color: #000000;"></i>
          <i class="fa-brands fa-cc-visa" style="color: #000000;"></i>
          <i class="fa-brands fa-cc-mastercard" style="color: #000000;"></i>
          <i class="fa-brands fa-cc-amex" style="color: #000000;"></i>
          <i class="fa-brands fa-cc-discover" style="color: #000000;"></i>
          <i class="fa-brands fa-cc-paypal" style="color: #000000;"></i>
        </div>
    </footer>
    
    