
        <nav class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation" id="navbar">
          <div class="container">
            <a class="navbar-brand" routerLink="/">Game<span class="logo">Central</span></a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
              aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

                  <!-- search bar -->
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search">
                    <div class="input-group-search">
                      <span class="search-icon">
                        <i class="fas fa-search"></i>
                      </span>
                    </div>
                  </div>
                  
                         <!-- home -->
            <div class="collapse navbar-collapse" id="main-navbar">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/">Home</a>
                </li>
        
                  <!-- shop -->
                <li class="nav-item dropdown dropdown-slide">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-delay="350"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <li><a routerLink="/shop">Shop</a></li>
                    <li><a routerLink="/product-single">Category 1</a></li>
                    <li><a routerLink="/checkout">Category 2</a></li>
                    <li><a routerLink="/cart">Category 3</a></li>
                  </ul>
                </li>
        
 
                         <!-- Favorites -->
              <li class="nav-item active">
                <a class="nav-link" routerLink="/">
                  <i class="fas fa-gamepad"></i></a>
              </li> 
          

                     <!-- Login/signup-->
              <li class="nav-item active">
                <a class="nav-link" routerLink="/">
                  <i class="fas fa-user"></i></a>
              </li>
                      <!-- shopping cart -->
              <li class="nav-item active">
                <a class="nav-link" routerLink="/">
                  <i class="fas fa-shopping-cart"></i></a>
              </li>
              
              



    
  
 
        
  
       