
.container {

  margin: 10px 10px 10px 70px;

}

/* Logo/brand styling */
.navbar-brand {
  font-weight: bold;
  font-size: 25px;

}
.logo {
  color: #25965c;
  font-weight: bold;
  font-size: 25px;
  margin-right: 200px;

}

/* Styles for the navbar */
#navbar {
  padding: 1.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
  }
.navbar-nav {
    margin-left: 80px;
  }
.nav-link {
  margin: 0 20px 0 10px;
  margin-top: 2px;
  color: #000000;
  }


/* nav login */
.nav-item.login {
    padding-top: 2px;

}
.nav-item.login a.nav-link {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: small;
    margin-left: 15em;
    color: #000000;
  }

/* nav cart */
  .nav-item.cart {
    padding-top: 5px;
 

}
.nav-item.cart a.nav-link {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: small;

    color: #000000;
 
  }
  

/* Styles for the seacrch box */
.input-group {
    display: flex;
    align-items: center;
    width: 35rem;
  
  }
  .form-control {
    flex: 1;
    margin: 0;
    border-radius: 9px;
    
}

  
  /* Styles for the search button & icon */
  .input-group-search {
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 2.4em;
  
  }
  .search-icon {
    display: inline-block;
    font-size: 1rem;
    color: #000000; 
  }
  

  

/* Cart quantity badge */
  i.fas.fa-shopping-cart {
    position: relative;
  }
  
  i.fas.fa-shopping-cart .badge {
    position: absolute;
    top: -17px;
    right: -15px; 
    background: red; 
    color: white; 
    border-radius: 50%; 
    padding: 6px 8px; 
    font-size: 10px; 
  }
  