<p>product-details works!</p>

<div *ngIf="product" class="product-details">
    <img [src]="product.image" [alt]="product.name" class="product-image">
    <h1>{{ product.name }}</h1>
    <p class="price">Price: ${{ product.price }}</p>
    <p class="details">{{ product.description }}</p>
    <div class="quantity-selector">
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" [(ngModel)]="quantity" min="1">
    </div>
    <button (click)="addToCart(product, quantity)" class="btn btn-primary">Add to Cart</button>
  </div>
  