<h3 class="heading-container">Browse By Category</h3>
<div class="category-container">
    <div (click)="navigateTo('gameconsoles')">
        <img src="assets/consoles.png" alt="Consoles" class="rounded">
        <h4>Consoles</h4>
    </div>
    <div (click)="navigateTo('videogames')">
        <img src="assets/games.png" alt="Games" class="rounded">
        <h4>Games</h4>
    </div>
    <div (click)="navigateTo('controllers')">
        <img src="assets/controllers.png" alt="Controllers" class="rounded">
        <h4>Controllers</h4>
    </div>
    <div (click)="navigateTo('sale')">
        <img src="assets/sale.png" alt="Sale" class="rounded">
        <h4>Sale</h4>
    </div>
</div>















<!-- <div class="category-container">
    <div>
        <img src="assets/controllers.png" alt="Controllers" class="rounded">
        <h4>Controllers</h4>
    </div>

    <div>
        <img src="assets/games.png" alt="Games" class="rounded">
        <h4>Games</h4>
    </div>
    <div>
        <img src="assets/consoles.png" alt="Consoles" class="rounded">
        <h4>Consoles</h4>
    </div>
    <div>
        <img src="assets/sale.png" alt="Sale" class="rounded">
        <h4>Sale</h4>
    </div>
</div> -->

