.heading-container {
  margin-left: 6.2em;
  margin-top: 50px;

}
.search-container {
    display: flex;
    flex-direction: row; /* Aligns children in a row */
    flex-wrap: nowrap; /* Prevents wrapping to the next line */
    overflow-x: auto; /* Enables horizontal scrolling */
    margin-left: 11em;
    margin-top: 30px;
 
 
  }
  
  .filtered-products {
    flex: 0 0 auto; /* Children will not grow or shrink and will respect their width */
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    width: 240px;
   

    margin-bottom: 20px; /* Spacing below each card */
    display: inline-block;
  }
  
  .card-body {
    padding: 15px;
    text-align: center;
    display: inline-block;
  }
  
  .card-img-top {
    max-width: 100%; /* Image will scale to the parent container */
    height: 200px; /* Maintain aspect ratio */
  }
  
  .card-title {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #555;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%; /* Button takes the full width of the card */
    margin-top: 10px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  