
/* Style the entire carousel container */
.carousel {
    width: 90%; /* Adjust the width as needed */
   
    margin: 0 auto;
    padding-top: 25px;
    
  }
  
  /* Style individual slides */
  .slide {
    border-radius: 5px;
    text-align: center;
  }
  
  /* Style the images inside the slides */
  .slide img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  /* Style the slick carousel arrows */
/* Target the ::before pseudo-element of .slick-prev and .slick-next */

.slick-prev:before, .slick-next:before {

  color: black !important;

/* 
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999 !important;  */
}

 
  



  .slick-prev:hover,
  .slick-next:hover {
    background-color: #0056b3;
  }
  
  /* Style the slick carousel dots (if used) */
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  
  .slick-dots li {
    margin: 0 5px;
  }
  
  .slick-dots li button {
    background-color: #ddd;
    border: 2px solid #007BFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .slick-dots li.slick-active button {
    background-color: #007BFF;
    border-color: #007BFF;
  }
  